*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
    margin: 0 auto !important;
    width: 1280px;
    background-color: aliceblue;
    font-family: sans-serif;
    
}
.clear{
    clear: both;
}
/*cái này cho Top */
nav{
background-color: white;
height: auto;
max-width: 100%;
overflow: hidden;
padding: 1em;
}
.info{
    max-width: 20%;
    float: left;
}
nav .info p{
    float: left;
    height: 40px;
    width: auto;
    line-height: 40px;
    font-weight: 700;
    padding-right: 1em;
}
/*cái này cho menu trên top*/
.menu{
    display: block;
    width: 55%;
    float: left;
    
}
.menu ul li{
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-weight:bold;
    text-align: center;
    color:gray;
}
.menu ul li:hover{
    background-color: gray;
    color: white;
    transition:1s;
    border-radius: 0.3em;
}
/* nut top*/
.nuttop ul li{
display: inline-block;
height: 40px;
line-height: 40px;
width: 100px;
margin-right: 0.5em;
font-weight: bold;
text-align: center;
border-radius: 0.3em;
}
.nuttop{
    width: 100%;
}
/*Phan Maintop*/
main #maintop div{
    float: left;
}
/*Phần mainmain*/
main #mainmain {
    width:100%;
    height: auto;
}
main #mainmain image{
    display: block;
}
#mainmain .line1{
 width: 100%;
 text-align: center;
}
.line1 .app{
    width: 25%;
    padding: 2em;
    display: inline-block;
    
}
.line1 .app p{
    text-align: center;
}
.line1 .app:hover{
    color: white;
    background-color: rgb(185, 247, 255);
    border-radius: 0.5em;
}