*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
    width: 1280px;
    background-color: aliceblue;
    font-family: sans-serif;
    margin: 0 auto;
}
.clear{
    clear: both;
}
/*cái này cho Top */
nav{
background-color: white;
height: auto;
max-width: 100%;
overflow: hidden;
padding: 1em;
}
.info{
    max-width: 20%;
    float: left;
}
nav .info p{
    float: left;
    height: 40px;
    width: auto;
    line-height: 40px;
    font-weight: 700;
    padding-right: 1em;
}
/*cái này cho menu trên top*/
.menu{
    display: block;
    width: 50%;
    float: left;
    margin-right: 3em;
}
.menu ul li{
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-weight:bold;
    text-align: center;
    color:gray;
}
.menu ul li:hover{
    background-color: gray;
    color: white;
    transition:1s;
    border-radius: 0.3em;
}
/* nut top*/
.nuttop ul li{
display: inline-block;
height: 40px;
line-height: 40px;
width: 100px;
margin-right: 0.5em;
font-weight: bold;
text-align: center;
border-radius: 0.3em;
}
.nuttop{
    width: 100%;
}
